@import "./settings/global";
@import "./settings/colours";
@import "./settings/break-points";
@import "./settings/typography";

@import "./tools/units";
@import "./tools/breakpoint";

@import "./generic/normalize";
@import "./generic/box-sizing";

$fa-font-path: "../../../node_modules/@fortawesome/fontawesome-free/webfonts";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "./elements/general";
@import "./elements/typography";
@import "./elements/form";
@import "./elements/print";

@import "../../../node_modules/slick-carousel/slick/slick.scss";

@import "./objects/wp";
@import "./objects/grid";

@import "./utils/helpers";
@import "./utils/flex";
@import "./utils/margins";

// Components
@import "./components/page";
@import "./components/widget";
@import "./components/comment";
@import "./components/search-form";
@import "./components/search-form-search-page";
@import "./components/pagination-links";
@import "./components/button";
@import "./components/c-component-nav";
@import "./components/product-search";

// Header Components
@import "./components/header";
@import "./components/header-nav";
@import "./components/header-hero";

// Footer Components
@import "./components/footer";

// General Page Layouts
@import "./page/page-layouts";

// Front Page Components
@import "./components/front-page/front-page";
@import "./components/front-page/hero";
@import "./components/front-page/featured-products";
@import "./components/front-page/single-product";
@import "./components/front-page/collections";
@import "./components/front-page/reviews";
@import "./components/front-page/gift-cards";

// Blog Components
@import "./components/blog-page/blog-card";
@import "./components/blog-page/blog";
@import "./components/blog-page/blog-pagination";
@import "./components/posts/post-sidebar";
@import "./components/posts/post-full";
@import "./components/posts/post";

// Contact Components
@import "./components/contact/contact-form-7.scss";
@import "./components/contact/contact-form";

// Hero Components
@import "./components/hero/hero-text-overlay";

// Animations
@import "./animate/aos";

// Accordion
@import "./accordion/accordion";

// Slider
@import "./components/slider";

// WooCommerce
@import "./woocommerce/ywcca_style";
@import "./woocommerce/woocommerce";
@import "./woocommerce/select2";

@import "../../../node_modules/jquery-confirm/css/jquery-confirm.css";

.flex-viewport {
  margin-bottom: 1rem;
}

.single.single-product .woocommerce-product-gallery__image.flex-active-slide {
  height: auto;
  max-height: 500px;
  display: flex;
}

.single.single-product .woocommerce-product-gallery__image.flex-active-slide a img {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  height: auto;
  max-height: 500px;
}

.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
  padding: 0 50px;
  @include break-at('medium') {
    padding: 0 100px;
  }
}

.woocommerce-product-gallery {
  height: auto !important;
}


@media(min-width: 769px) {
  .woocommerce.single-product div.product {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 50px;
  }
  .woocommerce.single-product div.product div {
      flex: 1 0 48%;
  }
  .woocommerce.single-product div.product .woocommerce-product-gallery,
  .woocommerce.single-product div.product .entry-summary {
      flex: 1 0 48%;
  }
}

.woocommerce div.product div.images .woocommerce-product-gallery__trigger {
  z-index: 0;
}


.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: $brand transparent transparent transparent !important;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent $brand transparent!important;
}

.content-none-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    margin: 25px 0;
  }
}

.c-product__row {
  margin-top: 25px;
}