.c-featured-products {
  @include section-padding;
  &__btn {
    width: 100%;
    text-align: center;
  }

  .woocommerce ul.products li.product,
  .woocommerce-page ul.products li.product {
    width: 22.15%;
  }

  .woocommerce ul.products[class*="columns-"] li.product,
  .woocommerce-page ul.products[class*="columns-"] li.product {
    @media (max-width: 767px) {
      width: 50%;
      float: left;
      clear: both;
      margin: 0 0 2.992em;
      padding: 0 10px;
    }
  }
}
