.c-single-product {
  padding-top: 50px;
  padding-bottom: 50px;
  overflow-x: hidden;

  &__img {
    padding: 50px 75px;
    @media (max-width: 767px) {
      padding: 50px;
    }
  }

  &__text {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-right: 100px;
    @media (max-width: 767px) {
      text-align: center;
      padding-right: 0;
    }
  }

  &__price {
    @include font-bold;
  }

&__btn {
  text-align: left;
  margin-top: 6px;
  display: flex;
  justify-content: flex-start;
  @media (max-width: '767px') {
    width: 100%;
    justify-content: center;
  }
}

  &__details {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    justify-content: center;
    @include break-at('small') {
      padding: 0 0 0 50px;
    }
  }
}