.c-header {
  padding: rem-calc(10) 0;
  color: $brand;
  align-items: center;

  &__main {
    background-color: $white;
    border-bottom: 1px solid $brand-lighter;
  }

  &__blogname {
    color: $brand;
    &:hover {
      color: $brand-lighter;
    }
  }
  &__logo {
    font-size: rem-calc(20);
    padding-bottom: 5px;
    img {
      max-width: 80px;
    }
  }
}

.c-header-search-form {
    display: none;
    margin: 10px auto;
}
