.c-header {
  padding: rem-calc(10) 0;
  color: $brand;
  align-items: center;
  height: 65px;

  &__main {
    background-color: $white;
    border-bottom: 1px solid $brand-lighter;
  }

  &__blogname {
    color: $brand;
    &:hover {
      color: $brand-lighter;
    }
  }
  &__logo {
    font-size: rem-calc(20);
    padding-bottom: 5px;
    img {
      max-width: 80px;
    }
  }

  &__info {
    background: $black;
    color: $white;
    padding: 8px 0;
    &-text {
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid $white;
      @media (max-width: 767px) {
        border-right: 0;
        border-bottom: 1px solid $medium-grey;
        padding: 10px 0;
        &:last-child {
          border-bottom: 0;
          padding-bottom: 5px;
        }
      }
      &:last-child {
        border-right: 0;
      }
      p {
        margin: 0;
        padding: 0 20px;
        font-size: rem-calc(14);
      }
    }
  }
}

.c-header-search-form {
    display: none;
    margin: 10px auto;
}
