.c-header {
  padding: rem-calc(10) 0;
  color: $brand;
  align-items: center;
  height: 65px;

  &__main {
    background-color: $white;
    border-bottom: 1px solid $brand-lighter;
  }

  &__blogname {
    color: $brand;
    &:hover {
      color: $brand-lighter;
    }
  }
  &__logo {
    font-size: rem-calc(20);
    padding-bottom: 5px;
    img {
      max-width: 80px;
    }
  }

  &__info {
    background: $black;
    color: $white;
    padding: 10px 20px;
    p {
      margin: 0;
      font-size: 14px;
      padding: 0 20px;
    }
  }
}

.c-header-search-form {
    display: none;
    margin: 10px auto;
}
