/***************** DROP DOWN SELECTOR ****************/

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: $brand !important;
  border-radius: 5px !important;
  background-color: #ffffff;
  line-height: 24px !important;
}

.select2-container--default .select2-selection--single {
  border: 1px solid $brand-lighter !important;
  span {
    color: $brand !important;
  }
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: $brand;
  line-height: 24px;
}

/***************** END DROP DOWN SELECTOR ****************/

.select2-container--default
  .select2-results__option--highlighted[aria-selected],
.select2-container--default
  .select2-results__option--highlighted[data-selected] {
  background-color: $brand !important;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  color: $brand;
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid $brand;
  border-radius: 4px;
}

.select2-selection__render,
.select2-selection__render:focus,
.select2-selection__render:visited,
.select2-container--default
  .select2-selection--single
  .select2-selection__render:visited {
  outline: none;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  display: none;
}

.select2-container--default
  .select2-results__option--highlighted[aria-selected],
.select2-container--default
  .select2-results__option--highlighted[data-selected] {
  background-color: $brand !important;
}

.select2-selection__clear {
  display: none;
}

.select2-results__options {
  border-top: 1px solid $brand;
  li {
    margin-bottom: 0;
    border-bottom: 1px solid $brand;
    &:last-child {
      border-bottom: 0;
    }
  }
}

.woocommerce form .form-row select,
.woocommerce div.product form.cart .variations select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAOCAYAAADABlfOAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACtSURBVHgBxZJbEYMwEEWvBCSshEpAAg5aB8UBOGgdgAMkICESkBAJsBkIZBYSEvjgzNyBycLJawGg4ozL8yrE6TkDp8AiHG+KleNozMBfiN9I4yf+L2yhdwY15xUprISwdosZ5vOwRfNOJ8JvSGihA3HmEeZC2CGA2bZ2PlaeyXXk5CsfsYoG4d0QIimxbzUSQp0itMhWk8lxkdYjLHEDcwEKEa2TCmE7yxpPMQFwxFbK8x+8pQAAAABJRU5ErkJggg==),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
    background-position: right .7em top 50%, 0 0;
    /* icon size, then gradient */
    background-size: .65em auto, 100%;
    border-radius: 2px;
}