
.related.products {
  // display: none;
  padding: 75px 0;
}

.price-description p {
  display: none;
}

.sku_wrapper {
  display: none;
}

/* Flexbox on WooCommerce archive products */
.woocommerce .products ul,
.woocommerce ul.products {
  display: flex;
  flex-flow: row wrap;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  display: flex;
  flex-flow: column nowrap;
}

.woocommerce ul.products li.product .button {
  margin-top: auto;
  display: table;
}

.woocommerce ul.products li.product a {
  margin-bottom: 20px;
}

.woocommerce ul.products li.product .button .go-back-to-shop-button {
  // background: $brand;
  display: block;
  border: 1px solid $brand-lighter;
  background-image: linear-gradient(-180deg, $brand-darker 0%, $brand 100%);
  &:hover {
    cursor: pointer;
    background-image: linear-gradient(-180deg, $brand 0%, $brand-darker 100%);
    color: $white;
  }
  color: $white;
  text-align: center;
  @include font-bold;
  padding: 10px;
  border-radius: 10px;
}

.woo-container {
  padding: 0 0.625rem;
  @media (max-width: 767px) {
    padding: 0 0.625rem;
  }
}

.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 {
  font-size: 1.5rem;
}

.woocommerce nav.woocommerce-pagination {
  margin-bottom: 20px;
}

.product-cat-title {
  display: none;
}

.woocommerce .woocommerce-breadcrumb {
  padding: 5px 0 0;
}

.woocommerce-products-header {
  color: $brand;
}

.category-list-dropdown-container {
  margin: 20px 0 20px;
  display: flex;
  justify-content: flex-end;
}

.category-list-dropdown {
  width: 225px;
}

.woocommerce .woocommerce-result-count {
  margin: 0 10px 10px;
}
.woocommerce-ordering {
  display: none;
}

.woocommerce-products-header h1 {
  color: $brand;
  margin-bottom: 0;
}

.woocommerce ul.products li.product .price {
  color: $dark-grey;
}

.select2-selection__rendered,
.select2-selection__rendered:focus,
.select2-selection__rendered:visited,
.select2-container--default
  .select2-selection--single
  .select2-selection__rendered:visited {
  outline: none;
}

*:focus {
  outline: pink;
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #f70000;
  border-radius: 4px;
}

// single product
.woocommerce div.product {
  .product_title {
    color: $brand;
  }
}

.woocommerce div.product p.price {
  color: $dark-grey;
}

.woocommerce div.product {
  margin: 25px 0.625rem 70px;
  @media (max-width: 767px) {
    margin: 50px 0.625rem;
  }
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  display: none;
}

.select2-container--default
  .select2-results__option--highlighted[aria-selected],
.select2-container--default
  .select2-results__option--highlighted[data-selected] {
  background-color: $brand !important;
}

.woocommerce #content div.product .woocommerce-tabs, .woocommerce div.product .woocommerce-tabs, .woocommerce-page #content div.product .woocommerce-tabs, .woocommerce-page div.product .woocommerce-tabs {
  padding-top: 25px !important;
}

.woocommerce-Reviews-title {
  color: $brand !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
  color: $brand;
}

.star-rating {
  color: $brand;
}

.woocommerce .woocommerce-breadcrumb {
  padding-left: 0.625rem !important;
  @media (max-width: 767px) {
    padding-left: 0 !important;
  }
}

.woocommerce .woocommerce-breadcrumb a {
  color: $brand;
}

/*--------------------------------------------*/

.woocommerce-products-header {
  h1 {
    color: $brand;
    font-size: rem-calc(32);
  }
}

.category-list-dropdown-container {
  margin: 20px 0 20px;
  display: flex;
  justify-content: flex-end;
}

.category-list-dropdown {
  width: 225px;
}

.woocommerce .woocommerce-result-count {
  margin: 0 10px 10px;
}
.woocommerce-ordering {
  display: none;
}

// WooCommerce product card layout 
ul.products {
  margin: 0;
  padding: 0;
  color: $brand;
  display: flex;
  flex-wrap: wrap;

  li.product {
    list-style: none;
    display: flex;
    flex-direction: column;

    .woocommerce-loop-product__link {
      display: block;
      text-decoration: none;
      flex: 1 1 auto;
    }

    .woocommerce-loop-product__title {
      margin: 0.5rem 0 0;
      font-size: 1.5rem;
      font-weight: 400;
      text-align: center !important;

      &::before {
        content: none;
      }
    }

    .woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
      flex: 1 1 auto;
    }

    .woocommerce-loop-product__title,
    .price,
    .star-rating {
      color: $brand;
    }

    .star-rating {
      margin-bottom: 0.8rem;
    }

    .price {
      text-align: center !important;
      display: flex;
      flex: 1 1 auto;
    }

    .woocommerce ul.products li.product .price {
      display: flex;
      flex: 1 1 auto;
    }

    .price,
    .star-rating {
      display: block;
    }

    .woocommerce-placeholder {
      border: 1px solid #f2f2f2;
    }

    .button {
      vertical-align: middle;
      background-color: $brand;
      color: $white;
      text-decoration: none !important;
      width: 100%;
      text-align: center !important;
      margin-top: auto;
      border: 1px solid $brand;
      border-radius: 5px;
      font-size: rem-calc(14);

      &.loading {
        opacity: 0.5;
      }

      &:hover {
        background-color: $white;
        color: $brand;
      }
    }

    .added_to_cart {
      margin: 0.5rem;
    }
  }
}
// .product_item a.product_item_link {
//   min-height: 90px;
// }
// .archive .product_item a.product_item_link img {
//   max-height: 150px;
// }

.woocommerce ul.products li.product li.title a {
  line-height: 2.5ex;
  height: 5ex;
  overflow: hidden;
}



.woocommerce a.added_to_cart {
  padding-top: 0;
  padding: 5px;
  margin-left: 20px;
  color: $brand;
  @include font-bold;
  &:hover {
    border: 1px solid $brand;
    border-radius: 5px;
  }
}

ul.products li.product .added_to_cart {
  width: 50%;
  margin: 10px auto 0;
  border: 1px solid $brand;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 5px;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
  @include font-bold;
}

.woocommerce ul.products li.product .price {
  color: $black;
  @include font-bold;
}

.woocommerce ul.products li.product .button {
  text-transform: uppercase;
  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.woocommerce div.product div.images .flex-control-thumbs li {
  opacity: 1;
  padding-right: 5px;
}

.woocommerce .woocommerce-breadcrumb {
  margin-top: 5px;
  a {
    color: $brand;
  }
}

.woocommerce-info {
  border-top-color: $brand;
}

.woocommerce-info::before {
  color: $brand;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
  background-color: $brand;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  margin-left: 15px;
}

.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
  width: 150px;
  height: 35.75px;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
  background-color: $brand;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
  background-color: $brand;
}

/***************** DROP DOWN SELECTOR ****************/

.select2-container--default .select2-selection--single .select2-selection__rendered { 
  color: red !important;
  line-height: 28px;
  border-radius: 2px !important;
  padding: 5px 10px !important;
  background-color: #ffffff;
  border: solid 1px $brand;
  span {
    color: $brand;
  }
}
.select2-container--default .select2-selection--single  { border:none !important; border-radius: 2px !important;}

/***************** END DROP DOWN SELECTOR ****************/

.select2-container--default .select2-selection--single .select2-selection__arrow {
  color: $brand;
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}


.o-woo__container {
  max-width: 1200px;
}
.related.products {
  display: none;
  padding: 75px 0;
}

.price-description p {
  display: none;
}

.sku_wrapper {
  display: none;
}

/* Flexbox on WooCommerce archive products */
.woocommerce .products ul,
.woocommerce ul.products {
  display: flex;
  flex-flow: row wrap;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  display: flex;
  flex-flow: column nowrap;
}

.woocommerce ul.products li.product .button {
  margin-top: auto;
  display: table;
}

.woocommerce ul.products li.product a {
  margin-bottom: 20px;
}

.woocommerce ul.products li.product .button .go-back-to-shop-button {
  // background: $brand;
  display: block;
  border: 1px solid $brand-lighter;
  background-image: linear-gradient(-180deg, $brand-darker 0%, $brand 100%);
  &:hover {
    cursor: pointer;
    background-image: linear-gradient(-180deg, $brand 0%, $brand-darker 100%);
    color: $white;
  }
  color: $white;
  text-align: center;
  @include font-bold;
  padding: 10px;
  border-radius: 10px;
}

.woo-container {
  padding: 0 0.625rem;
  @media (max-width: 767px) {
    padding: 0 0.625rem;
  }
}

.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 {
  font-size: 1.5rem;
}

.woocommerce nav.woocommerce-pagination {
  margin-bottom: 20px;
}

.product-cat-title {
  display: none;
}

.woocommerce .woocommerce-breadcrumb {
  padding: 5px 0 0;
}

.woocommerce-products-header {
  color: $brand;
}

.category-list-dropdown-container {
  margin: 20px 0 20px;
  display: flex;
  justify-content: flex-end;
}

.category-list-dropdown {
  width: 225px;
}

.woocommerce .woocommerce-result-count {
  margin: 0 10px 10px;
}
.woocommerce-ordering {
  display: none;
}

.woocommerce-products-header h1 {
  color: $brand;
  margin-bottom: 0;
}

.woocommerce ul.products li.product .price {
  color: $dark-grey;
}

.select2-selection__rendered,
.select2-selection__rendered:focus,
.select2-selection__rendered:visited,
.select2-container--default
  .select2-selection--single
  .select2-selection__rendered:visited {
  outline: none;
}

*:focus {
  outline: none;
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #f70000;
  border-radius: 4px;
}

// single product
.woocommerce div.product {
  .product_title {
    color: $brand;
  }
}

.woocommerce div.product p.price {
  color: $dark-grey;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  display: block;
  border: 1px solid $brand-lighter;
  background-image: linear-gradient(-180deg, $brand-darker 0%, $brand 100%);
  &:hover {
    cursor: pointer;
    background-image: linear-gradient(-180deg, $brand 0%, $brand-darker 100%);
    color: $white;
  }
  color: $white;
  text-align: center;
  @include font-bold;
  padding: 10px 30px;
  border-radius: 5px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  display: none;
}

.select2-container--default
  .select2-results__option--highlighted[aria-selected],
.select2-container--default
  .select2-results__option--highlighted[data-selected] {
  background-color: $brand !important;
}

.woocommerce #content div.product .woocommerce-tabs, .woocommerce div.product .woocommerce-tabs, .woocommerce-page #content div.product .woocommerce-tabs, .woocommerce-page div.product .woocommerce-tabs {
  padding-top: 25px !important;
}

.woocommerce-Reviews-title {
  color: $brand !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
  color: $brand;
}

.star-rating {
  color: $brand;
}

.woocommerce .woocommerce-breadcrumb {
  padding-left: 0.625rem !important;
  @media (max-width: 767px) {
    padding-left: 0 !important;
  }
}

.woocommerce .woocommerce-breadcrumb a {
  color: $brand;
}

// Request a quote page

.c-request-quote {
  padding: 0 1.25rem;
}
.request-quote {
  &__title {
    color: $brand;
  }
  &__text {
    margin-bottom: 25px;
  }
}
.raq-container {
  margin-top: 50px;
}

// .woocommerce .ywraq-wrapper {
//   padding: 0 1.25rem;
// }

.ywraq-form-table-wrapper {
  margin-top: 25px;
}

.yith-ywraq-mail-form-wrapper {
  padding: 25px 0 !important;
}

.yith-ywraq-add-to-quote::before {
  content: "Adicione o item à sua lista de desejos e envie-nos uma mensagem para obter uma cotação.";
  display: block;
  margin-bottom: 15px;
}

.yith-ywraq-add-button {
  margin-top: 1rem;
}

.yith_ywraq_add_item_response-243 .yith_ywraq_add_item_response_message {
  padding-bottom: 1rem;
}

.product_meta {
  margin-top: 15px;
}

/*
* No products in list page
*/
.yith-ywraq-message {
  margin-top: 20px;
}

@media only screen and (max-width: 959px) {
  .woocommerce ul.products[class*="columns-"] li.product {
    width: 48%;
    margin: 0 1% 1.875rem;
  }
  .woo-container {
    padding: 0 0.625rem;
  }

  .woocommerce .products ul,
  .woocommerce ul.products {
    display: flex;
    width: 100%;
  }

  .woocommerce li.product {
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 767px) {
  .woocommerce ul.products[class*="columns-"] li.product {
    width: 98%;
    margin-top: 0;
    margin-bottom: 1.875rem;
  }

  .woocommerce .products ul,
  .woocommerce ul.products {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
  }
}

/* Center product elements on shop pages */
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
  text-align:center;
}

.woocommerce ul.products li.product .star-rating {
  float:none;
  display:block;
  margin-left:auto;
  margin-right:auto;
  font-size: 1rem;
  font-size: 1rem;
}

.woocommerce div.product .out-of-stock {
  color: $danger-colour;
}