// WooCommerce product card layout 
ul.products {
  margin: 0;
  padding: 0;
  color: $brand;
  display: flex;
  flex-wrap: wrap;

  li.product {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    .woocommerce-loop-product__link {
      display: block;
      text-decoration: none;
      flex: 1 1 auto;
    }

    .woocommerce-loop-product__title {
      margin: 0.5rem 0 0;
      font-size: 1.5rem;
      font-weight: 400;
      text-align: center !important;

      &::before {
        content: none;
      }
    }

    .woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
      flex: 1 1 auto;
    }

    .woocommerce-loop-product__title,
    .price,
    .star-rating {
      color: $brand;
    }

    .star-rating {
      margin-bottom: 0.8rem;
    }

    .price {
      // margin-top: 5px;
      text-align: center !important;
      flex: 1 1 auto;
    }

    .price,
    .star-rating {
      display: block;
    }

    .woocommerce-placeholder {
      border: 1px solid #f2f2f2;
    }

    .button {
      vertical-align: middle;
      background-color: $brand;
      color: $white;
      text-decoration: none !important;
      width: 100%;
      text-align: center !important;
      margin-top: auto;
      border: 1px solid $brand;
      border-radius: 5px;

      &.loading {
        opacity: 0.5;
      }

      &:hover {
        background-color: $white;
        color: $brand;
      }
    }

    .added_to_cart {
      margin: 0.5rem;
    }
  }
}
// .product_item a.product_item_link {
//   min-height: 90px;
// }
// .archive .product_item a.product_item_link img {
//   max-height: 150px;
// }

.woocommerce ul.products li.product li.title a {
  line-height: 2.5ex;
  height: 5ex;
  overflow: hidden;
}



.woocommerce a.added_to_cart {
  padding-top: 0;
  padding: 5px 10px;
  color: $brand-orange;
  @include font-bold;
}

ul.products li.product .added_to_cart {
  width: 50%;
  margin: 10px auto 0;
  border: 1px solid $brand-orange;
  display: flex;
  justify-content: center;
  align-content: center;
}



.woocommerce ul.products li.product .price {
  color: $black;
}

.woocommerce div.product div.images .flex-control-thumbs li {
  opacity: 1;
  padding-right: 5px;
}

.woocommerce .woocommerce-breadcrumb {
  margin-top: 5px;
  a {
    color: $brand;
  }
}